body {
  font-family: Arial, sans-serif, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
}

.container {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  margin: 50px 0;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

h3 {
  text-align: center;
  margin-top: 50px;
  color: #333;
}

.description {
  text-align: justify;
  margin-bottom: 30px;
  color: #666;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.btn-calculate,
.btn-reset,
.btn-download {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-calculate {
  background-color: #28a745;
}

.btn-calculate:hover {
  background-color: #1c7f7f;
  color: #fff;
}

.btn-reset {
  background-color: #dc3545;
}

.btn-reset:hover {
  background-color: #b71c1c;
  color: #fff;
}

.btn-download {
  background-color: #007bff;
}

.btn-download:hover {
  background-color: #00698f;
  color: #fff;
}

.result {
  margin-top: 20px;
  text-align: center;
  color: #333;
}

.calories-result {
  margin-top: 20px;
  text-align: center;
  color: #333;
}

.risks {
  margin-top: 20px;
}

.risks h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.risks ul {
  list-style-type: disc;
  padding-left: 30px;
  color: #666;
}

.risks li {
  margin-bottom: 10px;
  color: #333;
}

.suggestions {
  margin-top: 20px;
  color: #333;
}

.graph {
  margin-top: 20px;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}
